.header {
    background-color: darksalmon;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 30px;
}

.Htext {
    padding: 5px;
    background-color: rgb(255, 231, 223);
    border-radius: 25px;
}

.Htext:hover{
    padding: 10px;
    background-color: rgb(226, 174, 157);
    border-radius: 25px;
}

.Te{
    color: rgb(71, 27, 27);
    margin-right: 25px;
    background-color: rgb(255, 193, 173);
    padding: 15px;
    border-radius: 25px;
}